* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* nav */
nav {
  background-color: #4e9ffe;
  background-image: url('../img/pattern.png');
  background-size: auto 200%;

  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 8px;
}

nav img {
  height: 40px;
}
/* /nav */

